@use "sass:color";

//--- media queries

$breakpoints: (
  "sm": 36em,
  "md": 48em,
  "lg": 62em,
  "xl": 75em,
);
// mobile first
@mixin device-greater-than($device) {
  $a: "sm";
  @media only screen and (min-width: map-get($breakpoints, $device)) {
    @content;
  }
}
// --- end media queries

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #33476b;
  --text-color-light: #9eb0c4;
  --radius: 1.2em;
  /* --shadow-color: #BBCCDB;*/
  --shadow-color: #3b3535;
  --border-width: -1px;
  --mono-font: monaco;
  --body-font: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue,
    Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  --padding-small: 0.75em;
  --padding-medium: 1.25em;
  --padding-large: 2em;
}

body {
  font-size: 2rem;
  font-family: var(--body-font);
  @include device-greater-than(md) {
    font-size: 1rem;
  }
}
.row {
  display: flex;
}

.grid-container {
  padding: 1rem;
  background: #416cea;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include device-greater-than(md) {
    display: inline-flex;
    border-radius: var(--radius);
  }
}

.grid-el {
  margin:.5rem 0.25rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  position: relative;

  &__shadow {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: inset 3px 3px 6px var(--shadow-color);
  }
  &__inset {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  &:hover {
    background: color.change(gray, $alpha: 0.9);
  }

  @include device-greater-than(md) {
    margin:.25rem;
    width: 6rem;
    height: 6rem;
  }
}

.cell-selected {
  .grid-el__shadow {
    //box-shadow:
    //        inset 3px 3px 6px var(--shadow-color),
    //        inset -3px -3px 6px 1px rgba(255, 255, 255, 0.2);
  }
  .grid-el__inset {
    z-index: 1;
    animation-duration: 1s;
    box-shadow:
      inset 3px 3px 6px var(--shadow-color),
      inset -3px -3px 6px 1px rgba(255, 255, 255, 0.2);
  }
}

.red {
  $red: #ff4747;
  background: #ff4747;
  &:hover {
    background: color.change(#ff4747, $alpha: 0.9);
  }
}

.yellow {
  background-image: linear-gradient(
    135deg,
    hsl(55deg 100% 65%) 0%,
    hsl(55deg 100% 66%) 21%,
    hsl(55deg 100% 67%) 30%,
    hsl(55deg 100% 68%) 39%,
    hsl(55deg 100% 68%) 46%,
    hsl(55deg 100% 69%) 54%,
    hsl(55deg 100% 70%) 61%,
    hsl(55deg 100% 70%) 69%,
    hsl(55deg 100% 71%) 79%,
    hsl(55deg 100% 72%) 100%
  );
  &:hover {
    background: color.change(#fff04e, $alpha: 0.9);
  }
}

.bounce {
  animation-name: bounce;
  animation-timing-function: ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(-300px);
  }
  20% {
    transform: translateY(0);
  }
  27% {
    transform: translateY(-7px);
  }
  34% {
    transform: translateY(0);
  }
  80%,
  100% {
    transform: translateY(0);
  }
}
